@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

body {
    background-color:white;
    font-family: 'Poppins', sans serif;
}
* {
    overflow: auto;
}
#navbar {
    background-color: black;
    position:fixed;
    top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.navclass a{
    text-decoration: none;
}
#navbar a{
    text-decoration: none;
    color: white;
}
button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #ED661F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevents double borders */
}
.one-button {
    width: 15%;
    left: 5%;
}
.section1 {
    background-image:url(assets/image\ 1.png);
    margin-top: 10%;
}
.div1 {
    background-image: url(assets/image\ 1.png);
}
.one {
    float: right;
    width: 50%;
}
.text-block {
    position: absolute;
    margin-top: 20px;
    left: 20px;
    background-color: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
  .stats {
    position: absolute;
    bottom: 20%;
    right: 4%;
    background-color: white;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    font-size: ;
  }
.two {
    float: left;
    width: 50%;
}
.subscribe-section {
    background-color: black;
    margin-top: 60%;
    margin-bottom: 5px;
    color: white;
}
.subscribe {
    background-color: black;
    margin-bottom: 5px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the subscribe button */
  form button {
    float: right;
    width: 10%;
    padding: 10px;
    background: #ED661F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
  }
  
  button:hover {
    background: #f05704;
  }

.footer {
    background-color: black;
    color: white;
    width: 100%;
    margin: 100% 0 0 0;
}

.footer-left {
    float: left;
    width: 50%;
}
.footer-right {
    display: flex;
    flex-direction: column;
}
.footer-right1 {
    float: left;
    width: 33.33%;
}
.footer-icons {
    width: 5%;
    height: 5%;
}
.footer-logo {
    width: 25%;
    height: 10%;
}
.allrights {
    display: flex;
    flex-direction: column;
    align-items: center;
}
