@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

body {
    background-color:white;
    font-family: 'Poppins', sans serif;
}
* {
    overflow: auto;
}
#navbar {
    background-color: black;
    position:sticky;
    margin-top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.navclass {
}
#navbar a{
    text-decoration: none;
    color: white;
}





.subscribe-section {
    background-color: black;
    margin-top: 60%;
    margin-bottom: 5%;
    color: white;
}
.subscribe {
    background-color: black;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form button {
    float: right;
    width: 10%;
    padding: 10px;
    background: #ED661F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form button:hover {
    background: #f05704;
  }
  
  /* Clear floats */
  form ::after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
    background-color: black;
    color: white;
    width: 100%;
    margin: 100% 0 0 0;
}

.footer-left {
    float: left;
    width: 50%;
}
.footer-right {
    display: flex;
    flex-direction: column;
}
.footer-right1 {
    float: left;
    width: 33.33%;
}
.footer-icons {
    width: 5%;
    height: 5%;
}
.footer-logo {
    width: 25%;
    height: 10%;
}
.allrights {
    display: flex;
    flex-direction: column;
    align-items: center;
}
